{%extends 'index.html'%}


{%load static%}
{%block content%}


<section id="about">
    <div class="container">

        <div class="section-header">
            <h2 class="section-title wow fadeInDown">Bilim ulgamymyz indiki nesle ylham berýär.</h2>

        </div>

        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <img class="img-responsive" src="{%static 'assets/images/aa.jpg'%}" alt="">
            </div>

            <div class="col-sm-6 wow fadeInRight">
                <h3 class="column-title">Maglumatlar</h3>
                <p>2019-njy ýylyň 12-nji iýunynda Hormatly Prezidentimiz “Türkmenistanyň
                    Telekommunikasiýalar we informatika institutyny döretmek hakyndaky” Permana
                    gol çekdi. Täze IT ýokary okuw mekdebi ýurdumyzyň ykdysadyýetiniň dürli pudaklaryny
                    sanlylaşdyrmak üçin programmalary işläp taýýarlaýan we sanly enjamlar bilen üpjün&c...</p>
                <a class="btn btn-primary" style="font: 100;" href="#">Giňişleýin</a>

            </div>
        </div>
    </div>
</section>
<section id="business-stats">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">Maglumat:</h2>
            <p class="wow fadeInDown">------------------------------------------------------------------</p>
        </div>

        <div class="row text-center">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="business-stats" data-digit="7" data-duration="1000"></div>
                    <strong>Fakultet</strong>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="200ms">
                    <div class="business-stats" data-digit="21" data-duration="1000"></div>
                    <strong>Hünär</strong>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="400ms">
                    <div class="business-stats" data-digit="209" data-duration="1000"></div>
                    <strong>Mugallym</strong>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="600ms">
                    <div class="business-stats" data-digit="5399" data-duration="1000"></div>
                    <strong>Talyp</strong>
                </div>
            </div>
        </div>
    </div>
</section>

{%endblock%}