{%extends 'index.html'%}


{%load static%}
{%block content%}



<section id="services">
    <div class="container">

        <div class="section-header">
            <h2 class="section-title wow fadeInDown">Fakultetler</h2>
            <p class="wow fadeInDown"></p>
        </div>

        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="glyphicon glyphicon-file"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Maglumat tehnologiýalary we programmirleme fakulteti</h4>
                            
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-compass"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Aragatnaşygyň radiotehnologiýalary fakulteti</h4>
                            
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-database"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Telekommunikasiýalar fakulteti <br> <br></h4>
                           
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-bar-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Sanly ykdysadyýet we dolandyryş fakulteti</h4>
                           
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-paper-plane-o"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Önümçilik proseslerini awtomatlaşdyrmak fakulteti</h4>
                           
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-bullseye"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Maglumat ulgamlarynyň howpsuzlygy fakulteti</h4>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-bullseye"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Hünär derejesini ýokarlandyryş fakulteti</h4>
                          
                        </div>
                    </div>
                </div>
               
            </div>
        </div><!--/.row-->
    </div><!--/.container-->
</section>


{%endblock%}