{%extends 'index.html'%}

{%load static%}

{%block content%}

<section id="yast">
    <br>
    <div class="container">
        <div class="row">


            <div class="col-sm-7 wow fadeInRight">
                <h3 class="column-title">Ylmy döredijilik üçin innowasion meýdança</h3>
                <p>Gün panel - bu ulgam günden gelýän ýagtylyk energiýasyndan gün batareýalarynyň kömegi bilen optimal,
                    ýokary derejede elektrik energiýasyny almaga niýetlenen. Gün şöhleleri gün batareýasyna
                    perpendikulýar düşen wagty onuň energiýa öndürijilik ukyby beýleki ýagdaýlara seredeniňde has işjeň
                    bolup durýar. Onuň üçin gün paneliniň gündiziň islendik wagty Güne perpendikulýar ýagdaýda
                    saklanmagyny üpjün etmeli. Ony amala aşyrmak üçin Günüň hereketini yzarlaýan, ýagny, “Iki ok boýunça
                    Gün energiýasynyň intensiw akymynyň düşýän burçyna awtomatlaşdyrylan sazlanýan ulgamy” işlenip
                    düzüldi. Güni yzarlaýjy ulgamyň ulanylmagyň netijeliligi. Bu awtomatiki gurluş iki taraplaýyn
                    dikligine we keseligine hereket edip, Güne göra öz üstüni perpendikulýar ýagdaýda saklaýar.
                    Keseligine we dikligine hereketi ýörite gurnalan hereketlendirijileriň üsti bilen amala aşyrylýar.
                    Bu ulgam özüniň yzarlama häsiýetini işjeň ýagdaýda alyp barýar we energiýa mukdaryny ýokary derejede
                    artdyryp almak üçin hereketini özgerdýär. Sensorlar her tarapyň ýagtylyk mukdaryny anyklaýar we
                    olaryň ýagtylyk mukdarlary deňleşýänçä paneli hereketlendirýär. Paneli Gün batandan soňra ertirki
                    dogýan ýagdaýyna getirmek üçin onuň arka tarapynda hem degişli sensorlar ýerleşdirilen. Yzarlamak
                    üçin gün panelini gurnamagyň iki sany esasy usuly bar, ýagny olar bir ok boýunça we iki ok boýunça
                    bolýar.

                    Bir ok boýunça hereket edýän paneller yokary tok almak üçin adatça polýar berkitme usulynda
                    ulanylýar. Polýar berkitmede bir ok ulanylýar. Olar takmynan ýeriň aýlanyş okuna parallel ýagdaýda
                    gurnalýar. Deňeşdirme netijesinde ýönekeý gün panelinden bir ok boýunça hereket edýän paneli 30%
                    çykyş kuwwaty ýokary bolýar. Iki ok boýunça hereket edýän panelde bir oky keseligine, beýleki oky
                    bolsa dikligine hereket etmegi amala aşyrýar. Iki okdan ybarat bolan bu sazlaşyk paneli islendik
                    wagt güne ugrukdyrylan ýagdaýyna sazlap bolýar. Bu usul hereket etmeýän panele seredeniňde 35-40%
                    artyk energiýany öndürmek mümkinçiligini berýär. Tebigy energiýa çeşmeleriniň arasynda iň bir
                    ýörgünlileriniň hatarynda gün energiýasy çykyş edýär. Işläp taýýarlamak maksady bilen gün paneliniň
                    sistemasynyň işjeňligini ýokarlandyrmak üçin birnäçe barlaglar alnyp baryldy. Şolar ýaly usullaryň
                    biri hem gün yzarlaýan ulgamyň ulanylmagydyr. Günüň yzarlanýan hereketi gün şöhleleriniň düşýän
                    burçuna perpendikulýar ýagdaýyny saklaýandygy üçin gün paneli hemişe köp energiýa öndürmäge
                    mümkinçilik berýär.</p>

            </div>
            <div class="col-sm-3 wow fadeInLeft">
                <img class="img-responsive" src="{%static 'assets/images/gun.jpg'%}" alt="">
            </div>
        </div>
    </div><br>
</section>

{%endblock%}